  .button1{
    flex:1;
    width: 30%;
    box-sizing: border-box;
  }

  .button2{ 
    flex:1;
    margin: 0px 5%;
    width:30%;
    box-sizing: border-box;
  }

  .button3{
    flex:1;
    width:30%;
    box-sizing: border-box;
  }
  
  #img_food1{
    text-align: center;
  }
  
  #img_food2
  {
    text-align: center;
  }
  
  #img_food3{
    text-align: center;
  }
  
  .reviewcard{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    clear: both;
  }
  
  .parent{
    width: 80%;
    margin: 10px auto;
  }

  .warp{
    width: 80%;
    height: 500px;
    margin: 10px auto;
  }

  .preview{
    float: left;
    width:40%;
    box-sizing: border-box;
  }

  .map{
    float: right;
    width:50%;
    box-sizing: border-box;
  }
    
  